<form action='/offers' method='get' class="form" role="form">
  <input type="text" name="uid" class="form-control" placeholder="uid" required="" value="<%= @params[:uid] %>" autofocus="">
  <input type="text" name="pub0" class="form-control" placeholder="pub0" value="<%= @params[:pub0] %>" required="">
  <input type="text" name="page" class="form-control" placeholder="page" value="<%= @params[:page] %>" required="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Get offers</button>
</form>
